<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ABOUT</title>

	<link rel="shortcut icon" type="image/png" href="img/IMG_6999.png"/>

</head>
<body>

 <header>
	 <div id="header-inner">
 		<!-- <img id="logo" src="img/IMG_6999.png"> -->
 		<nav>
 			<!-- <a href="#" id="menu-icon"></a> -->
 			<ul>
 				<li><a href="index.html" class="hvr-grow"><h1>Home</h1></a></li>
 				<li><a href="about.html" class="hvr-grow"><h1>About</h1></a></li>
 			</ul>
 		</nav>
 	</div>

	</header>

<input type="checkbox" name="image" value="Image" id="Pict"/><br />

<label for="Image" id="WebPic"></label><br />
<script>
var lblpic = 'I like this image';
document.getElementById('WebPic').innerHTML = lblpic;
</script>


	<div>
	 <img src=static/img/IMG_1951.JPG style="width:300px;height:400px">
	 <button type="button">Like</button>
	 <img src=static/img/IMG_1953.JPG style="width:300px;height:400px">
	 <img src=static/img/IMG_1958.JPG style="width:300px;height:200px"></a>
	</div>




</body>
</html>
